@model Application.DTOs.Publisher.EditPublisherDTO

<input type="hidden" asp-for="Id"/>

<div class="row">

    <div class="col-sm-12">
        <div class="form-group">
            <label>نام ناشر</label>
            <input asp-for="Name" class="form-control" placeholder="لطفا نام ناشر را وارد کنید">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label>شماره تلفن</label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="لطفا شماره تلفن را وارد کنید">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label>آدرس</label>
            <textarea asp-for="Address" class="form-control" placeholder="لطفاآدرس را وارد کنید"></textarea>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>
</div>