<div class="form-group mt-3">
    <dnt-captcha asp-captcha-generator-max="999999"
                 asp-captcha-generator-min="111111"
                 asp-captcha-generator-language="English"
                 asp-captcha-generator-display-mode="ShowDigits"
                 asp-use-relative-urls="true"
                 asp-placeholder="کد امنیتی"
                 asp-validation-error-message="لطفا کد امنیتی را به صورت عددی وارد کنید"
                 asp-too-many-requests-error-message="درخواست ها خیلی زیاده ! لطفا یه لحظه صبر کنید !"
                 asp-font-name="Tahoma"
                 asp-font-size="40"
                 asp-fore-color="#333333"
                 asp-back-color="#0d6efd"
                 asp-text-box-class="form-control"
                 asp-text-box-template="<div class='input-group'><div class='form-input'>{0}</div></div>"
                 asp-validation-message-class="text-danger"
                 asp-dir="rtl" />

</div>
  


